*{
        margin: 0;
    padding: 0;
}

/* id  con #*/
/* clase con .*/
/* etiqueta con el nombre de la etiqueta*/

body{
    background: blue;
    color: #fff;
}

header{
    background:url('../images/fondo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.contenedor{
    width: 80%;
    margin: 0 auto;
}

.contenido-titulo h1{
    font-size: 48px;
    color: white;
    border: 10px double white;
}